#disc{
    background-color: rgb(243, 190, 125);
    background-image:url(./images/disc.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
#pell{
    background-color: rgb(243, 190, 125);
    background-image:url(./images/pell.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
}
nav{
    background-color: rgb(165, 42, 42);
    color:white;
    height:5em;
    font-weight:bold;
}
#nome{
    font-size:xx-large;
    font-style: italic;
}
ul{
    list-style-type: none;
}
li{
    text-align: center;
    font-weight: bold;
    font-style:italic;
    font-size:20px;
    padding: 15px;
    border-radius:5px;
    border: solid 1px grey;
    margin: 5px;
    color: grey;
    background-color:rgba(242, 226, 196, 0.751);
}
.card-title{
    font-size:30px;
    font-style: italic;
}
p{
    font-size: 23px;
}